.terminal {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.013em;
  margin: 32.5px;
  padding: 5px;
  padding-bottom: 2px;
  z-index: 0;
  flex-shrink: 0;

  overflow: hidden;

  /* macos windows border thing, finally figured out */
  border-radius: 10px;
  box-shadow:
    0 36px 55px 0 rgba(0, 0, 0, var(--shadow-intensity)),
    0 26px 35px 0 rgba(0, 0, 0, var(--shadow-intensity)),
    0 16px 25px 0 rgba(0, 0, 0, var(--shadow-intensity));

  /* dark mode */
  --shadow-intensity: 0.25;
  border: 0.5px solid black;
  outline: 1px solid #ffffff33;
  outline-offset: -1.5px;

  /* light mode */
  --shadow-intensity: 0.15;
  border: 0.5px solid #cacaca;
  outline: none;

  background-color: var(--background-color);
  color: var(--foreground-color);

  & span {
    display: inline-block;
  }

  &:has(#use-tab:checked) .tab {
    background-color: var(--tab-color);
  }

  .cursor-guide {
    display: block;
  }
  &:has(#use-guide:checked) .cursor-guide {
    background-color: var(--cursor-guide-color);
    border: 1px solid var(--cursor-guide-color);
    border-left: none;
    border-right: none;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  &:has(#use-bold:checked) .bold {
    color: var(--bold-color);
  }
  &:has(#use-underline:checked) .underline {
    text-decoration-color: var(--underline-color);
  }

  &:has(#use-selected-text-color:checked) ::selection,
  &:has(#use-selected-text-color:checked) .selected-text {
    color: var(--selected-text-color);
  }

  & ::selection {
    background-color: var(--selection-color);
  }

  &:has(#color-preview-toggle:not(:checked)) .cp {
    color: inherit;
  }

  & .badge {
    color: var(--badge-color);
    user-select: none;
    font-family: Helvetica, sans-serif;
    position: absolute;

    font-weight: 500;
    z-index: -10;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 600;
    top: 83px;
    right: 11px;
    display: none;
  }

  &:has(#use-badge:checked) .badge {
    display: inline-block;
  }

  & label {
    display: inline-block;
  }

  & input {
    display: inline-block;
    appearance: none;
    font-family: monospace;
    vertical-align: bottom;
    border: none;
    background: none;
    color: var(--foreground-color);
    user-select: all;

    margin: 0;
    padding: 0;
  }

  & input:invalid,
  & input[data-invalid] {
    outline: 1px solid red;
  }

  & input[type="text"] {
    width: 6ch;
    height: 16px;

    &[data-alpha] {
      width: 8ch;
    }
  }

  & input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;

    &::before {
      font-family: monospace;
      content: "[ ]";
    }

    &:checked::before {
      content: "[x]";
    }
  }
}

.content {
  z-index: 10;
}
.content > pre {
  margin: 0;
  overflow: hidden;
}

.tab {
  margin: -5px;
  margin-bottom: 2px;

  padding-left: 12.5px;
  padding-top: 12.5px;
  padding-bottom: 13.5px;
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  text-align: center;
  color: #656565;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 8px;

  & > div {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    &.close {
      background-color: #ff5f56;
    }

    &.minimize {
      background-color: #ffbd2e;
    }

    &.zoom {
      background-color: #27c93f;
    }
  }
}

.fork {
  color: transparent;

  &::selection {
    color: var(--foreground-color);
  }

  &::before {
    user-select: none;
    color: var(--foreground-color);
    position: absolute;
    content: "f**k";
    z-index: -1;
  }
}

.gh:hover .fork {
  color: var(--foreground-color);
}
.gh:hover .fork::before {
  content: "";
}

.evil {
  color: transparent;

  &::selection {
    color: var(--foreground-color);
  }

  &::before {
    user-select: none;
    color: var(--foreground-color);
    position: absolute;
    content: "rm -rf / --no-preserve-roo";
    z-index: -1;
  }

  &::after {
    user-select: none;
    color: var(--cursor-text-color);
    background-color: var(--cursor-color);
    position: absolute;
    margin-left: -1ch;
    content: "t";
    z-index: -1;
  }
}

.fg {
  color: var(--foreground-color);
}
.fg0 {
  color: var(--ansi-0);
}
.fg1 {
  color: var(--ansi-1);
}
.fg2 {
  color: var(--ansi-2);
}
.fg3 {
  color: var(--ansi-3);
}
.fg4 {
  color: var(--ansi-4);
}
.fg5 {
  color: var(--ansi-5);
}
.fg6 {
  color: var(--ansi-6);
}
.fg7 {
  color: var(--ansi-7);
}
.fg8 {
  color: var(--ansi-8);
}
.fg9 {
  color: var(--ansi-9);
}
.fg10 {
  color: var(--ansi-10);
}
.fg11 {
  color: var(--ansi-11);
}
.fg12 {
  color: var(--ansi-12);
}
.fg13 {
  color: var(--ansi-13);
}
.fg14 {
  color: var(--ansi-14);
}
.fg15 {
  color: var(--ansi-15);
}

.bg {
  background-color: var(--background-color);
}
.bg0 {
  background-color: var(--ansi-0);
}
.bg1 {
  background-color: var(--ansi-1);
}
.bg2 {
  background-color: var(--ansi-2);
}
.bg3 {
  background-color: var(--ansi-3);
}
.bg4 {
  background-color: var(--ansi-4);
}
.bg5 {
  background-color: var(--ansi-5);
}
.bg6 {
  background-color: var(--ansi-6);
}
.bg7 {
  background-color: var(--ansi-7);
}
.bg8 {
  background-color: var(--ansi-8);
}
.bg9 {
  background-color: var(--ansi-9);
}
.bg10 {
  background-color: var(--ansi-10);
}
.bg11 {
  background-color: var(--ansi-11);
}
.bg12 {
  background-color: var(--ansi-12);
}
.bg13 {
  background-color: var(--ansi-13);
}
.bg14 {
  background-color: var(--ansi-14);
}
.bg15 {
  background-color: var(--ansi-15);
}

.bold {
  font-weight: bold;
}
.link {
  color: var(--link-color);
}
.find-match {
  background-color: var(--find-match-color);
}
.selection {
  background-color: var(--selection-color);
}
.underline {
  text-decoration: underline;
}

.cursor-text {
  color: var(--cursor-text-color);
}

.cursor {
  background-color: var(--cursor-color);
}
